[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djoser = "*"
djangorestframework = "*"
bleach = "*"
jinja2 = "*"
pdfkit = "*"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.11"
